<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Edit Component
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" color="light" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="loader" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list no-lines *ngIf="!loading" [formGroup]="form">
    <ion-list-header>
      {{form.value.type}}
    </ion-list-header>

    <ion-item *ngIf="componentType === 'HeaderWithMenu' || componentType === 'Image' || componentType === 'FAB' || componentType === 'Button'">
      <ion-label>Navigate to</ion-label>
      <ion-select formControlName="target_screen" (ionChange)="selectScreen($event)">
        <ng-container *ngFor="let screen of screens">
            <ion-option [value]="screen.id" [selected]="screen.id === form.value.target_screen" *ngIf="screenId !== screen.id">
              {{screen.name}}
            </ion-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <!-- Header With Menu Component -->
    <ion-item *ngIf="componentType === 'HeaderWithMenu'">
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>

    <!-- Image Component -->
    <ion-item *ngIf="componentType === 'Image'">
      <ion-input type="text" formControlName="value" disabled></ion-input>
      <button ion-button clear item-right (click)="replaceImage()">Replace Image</button>
    </ion-item>

    <!-- Text Input Component -->
    <ion-item *ngIf="componentType === 'TextInput'">
      <ion-label stacked>Value</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>

    <!-- Password Input Component -->
    <ion-item *ngIf="componentType === 'PasswordInput'">
      <ion-label stacked>Value</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>

    <!-- FAB Component -->
    <ng-container *ngIf="componentType === 'FAB'">
      <ion-list-header class="select-icon-header">
        Select icon
      </ion-list-header>
      <ion-grid>
        <ion-row *ngFor="let row of icons">
          <ion-col col-2 *ngFor="let icon of row">
            <button ion-button full icon-only clear [ngClass]="{'selected': icon == form.value.value }" (click)="selectIcon(icon)">
              <ion-icon [name]="icon"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <!-- Checkbox Component -->
    <ion-item *ngIf="componentType === 'Checkbox'">
      <ion-label stacked>Text</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>

    <!-- Radio Component -->
    <ion-item *ngIf="componentType === 'Radio'">
      <ion-label stacked>Text</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>

    <!-- ListItem Component -->
    <ion-item *ngIf="componentType === 'ListItem'">
      <ion-label stacked>Text</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>

    <!-- Button Component -->
    <ion-item *ngIf="componentType === 'Button'">
      <ion-label stacked>Text</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list no-lines class="image-preview" *ngIf="!loading && componentType === 'Image'">
    <ion-list-header>
      Image Preview
    </ion-list-header>
    <ion-item>
      <div class="preview-img">
        <img-loader [src]="form.value.value" useImg></img-loader>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="save-btn" ion-button full (click)="saveChanges()" [disabled]="loading">
      Save Changes
    </button>
  </ion-toolbar>
</ion-footer>
