  <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Review Components</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exit()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button icon-only (click)="proceed()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Detected Components ({{processing_time}} sec)
    </ion-list-header>
    <div class="empty-state" *ngIf="detected_components.length === 0">
      <ion-note>No components detected!</ion-note>
    </div>
    <ion-item-group [reorder]="reorder_mode" (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding *ngFor="let component of detected_components; let i = index">
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="component.preview_url">
          </ion-thumbnail>
          <h2>{{component.name}}</h2>
          <p>{{component.percentage_probability}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="handleDelete(i, component)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
