project-page {
    .loader {
        height: 40px;
        padding-top: 8px;
        text-align: center;
    }
    .empty-state {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .screen-name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .thumbnail {
        background-color: white;
        border: 1px solid rgb(246, 246, 246);
        box-shadow: 1px 4px 7px 0px #d4d4d4;
        margin: 5px 0px;
        overflow: hidden;
    }
    .thumbnail img {
        width: 100%;
    }
}
