text-input {
    .selected {
        opacity: 0.8;
    }
    .text-input[disabled] {
      opacity: 1;
    }

    input {
      -moz-appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      display: inline-block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      border: 0;
      background: transparent;
    }
}
