<ion-header [ngClass]="{'fixed-header': order === 0, 'relative-header': order !== 0 }">
  <ion-toolbar
    [ngClass]="{'selected': selected}"
    (press)="press($event)"
    (onPressEnd)="onPressEnd()"
    ion-long-press>
      <button ion-button menuToggle icon-only (tap)="tap()">
        <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="ios-fixed-header-margin" *ngIf="order === 0" showWhen="ios"></div>
<div class="md-fixed-header-margin" *ngIf="order === 0" showWhen="android"></div>
