header-with-menu {
    .ios-fixed-header-margin {
        margin-bottom: 44px;
    }
    .md-fixed-header-margin {
        margin-bottom: 56px;
    }
    .relative-header {
        position: relative !important;
    }

    .selected {
      opacity: 0.8;
    }
}
