<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Build Mode</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <div class="preview-box" [ngStyle]="{'width.px': previewBox.offsetHeight * computeMultiplier(aspectRatio)}" #previewBox>
      <div class="preview-scroll-content">
        <div class="preview-content-container">
          <ng-container *ngFor="let component of components">
            <!-- HeaderWithMenu -->
            <header-with-menu
              [title]="component.value"

              *ngIf="component.type === 'HeaderWithMenu'">
            </header-with-menu>

            <!-- Image -->
            <image
              [src]="component.value"
              [mode]="'build'"
              [action]="presentActionSheet.bind(this, component)"
              *ngIf="component.type === 'Image'">
            </image>
          </ng-container >
        </div>
      </div>
    </div>
  </ion-content>
