<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="showUserActionsheet()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>drawtotype.io</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="pullToRefresh($event)" pullingIcon="arrow-dropdown" pullingText="Pull to refresh" color="primary">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="loader" *ngIf="!projects">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div class="empty-state" *ngIf="projects && projects.length === 0">
    <ion-note>No projects yet!</ion-note>
  </div>
  <ion-list *ngIf="projects && projects.length > 0">
    <ion-list-header>
      My Projects
    </ion-list-header>
    <ion-item-sliding *ngFor="let project of projects" #slidingItem>
      <ion-item (click)="handleView(project.id, project.name, project.aspect_ratio)">
        <h2>{{project.name}}</h2>
        <p class="details">
          <span *ngIf="project.no_of_screens === 1">{{project.no_of_screens}} Screen</span>
          <span *ngIf="project.no_of_screens !== 1">{{project.no_of_screens}} Screens</span>
          <!-- <span *ngIf="user.id === project.author_id">&middot; Owner</span>
          <span *ngIf="user.id !== project.author_id">&middot; Collaborator</span> -->
        </p>
        <p class="timestamp" item-end>{{formatDate(project.date_modified)}}

        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="handleEdit(project, slidingItem)" [disabled]="user.id !== project.author_id">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="handleDelete(project.id, slidingItem)" [disabled]="user.id !== project.author_id">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom (click)="handleAdd()">
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
