<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Graphite Studio</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Your Projects
    </ion-list-header>
    <ion-item-sliding *ngFor="let project of projects">
      <ion-item (click)="viewProject(project.id)">
        <h2>{{project.name}}</h2>
        <p class="total-screens">{{project.no_of_screens}} Screens</p>
        <p class="timestamp" item-end>{{formatDate(project.date_created)}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <div class="loader" *ngIf="!projects">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </ion-list>
  <ion-fab right bottom (click)="addNewProject()">
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
