<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Inspector
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" color="light" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-list-header>
      Computed Styles  ({{componentType}})
    </ion-list-header>
    <button detail-none ion-item *ngFor="let key of componentStyleKeys">
      <h3 class="property-name" item-start>{{key}}:</h3>
      <div class="color-preview"
        *ngIf="key === 'background-color' || key === 'color'"
        [ngStyle]="{'background-color': componentStyles[key]}"
        item-end>
      </div>
      <h3 class="property-value" item-end>
        {{componentStyles[key]}}
      </h3>
    </button>
  </ion-list>
</ion-content>
